article{
    margin: 0 auto;
}
.kakao ul{
    margin: 120px 30px;
}
.kakao li{
    align-items: center;
    font-size: 18px;
    margin: 30px 0;
}
.kakao li p{
    font-size: 16px;
}
.kakao li img{
    width: 25px;
    margin: 10px 10px 0px 10px;
}
.transport{
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding: 65px 0;
}
.transport li{
    width: 400px;
    text-align: center;
    padding: 40px 0;
}
.leftLine{
    position: relative;
}
.leftLine::after{
    content: '';
    display: block;
    width: 1px;
    height: 430px;
    background-color: #bcbcbc;
    position: absolute;
    top: 0;
}
.transport img{
    width: 100px;
}
.tr_txt{
    width: 300px;
    margin: 0 auto;
}
.tr_txt b{
    display: block;
    padding: 30px 0;
}
.tr_txt p{
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
}
.tr_txt p::before{
    content: '•';
    display: inline-block;
}
.parkingWrap img{
display: block;
text-align: center;
}
/* 이미지 가운데 오는거 작업중...지금 안맞음 지대짱남 */