.mainGallery {
  width: 100%;
  background-color: var(--mirage);
  padding: 110px 0;
  text-align: center;
}

.mainGallery > h1 {
  font-size: 55px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.mainGallery > p {
  font-size: 18px;
  color: #fff;
}

.mainGallery > .galleryBtn {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
  margin: 45px 0 60px;
}

.mainGallery>.galleryBtn>.mainBtnSalomie>span{
  line-height: 50px;
  color: var(--salomie);
}

.mainGallery>.galleryBtn>.mainBtnSalomie:hover>span{
  color: var(--mirage);
  font-weight: bold;
}

.mainGallery > .galleryslide > div {
  overflow: hidden;
}

.mainGallery > .galleryslide > div > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mainGallery > .galleryslide > div > ul > li {
  width: 358px;
  height: 287px;
  border-radius: 10px;
  background-color: var(--mirage);
  border: 1px solid var(--line-silver);
}

/* Swiper ver */

.mainGallery > .galleryslide > .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainGallery > .galleryslide > .swiper > .swiper-wrapper {
  width: 100%; height: 100%;
  display: flex;
  transition-timing-function: linear !important;
  transition-duration: 6000ms;
  transform: translate3d(0, 0, 0);
  position: relative;
  box-sizing: content-box;
  z-index: 1;
}

.mainGallery > .galleryslide > .swiper > .swiper-wrapper > .swiper-slide {
  margin-right: 0 !important;
  transform: translate3d(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  overflow: hidden;
  padding: 10px;
  background-color: transparent;
}

.mainGallery > .galleryslide > .swiper > .swiper-wrapper > .swiper-slide > a {
  display: block;
  width: 100%;
  height: 100%;
}

.mainGallery > .galleryslide > .swiper > .swiper-wrapper > .swiper-slide > a > img {
  cursor: pointer;
  width: 358px;
  height: 287px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .mainGallery > h1 {
    font-size: 48px;
  }

  .mainGallery > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .mainGallery {
    padding: 65px 0;
  }

  .mainGallery > h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .mainGallery > p {
    font-size: 14px;
  }
  .mainGallery>.galleryBtn>.mainBtnSalomie>span{
    line-height: 36px;
  }
}

@media screen and (max-width: 300px) {
  .mainGallery > .galleryBtn {
    gap: 15px;
  }
}

