.faqSec{
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 65px;
}
.faqSec h6{
    padding: 5px 20px;
}
.faqTopLine{
    display: block;
    border: 1px solid var(--font-black);
}
.faqWrap>.fans p{
    white-space: pre-wrap;
}
.fqes{
    border-bottom: 1px solid var(--line-silver);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.fqes p{
    line-height: 70px;
}
.fans{
    background-color: var(--back-silver);
}
.fans p{
    padding: 20px;
    min-height: 85px;
}

/* 좋아요 버튼 */
.faqUpWrap{
    justify-content: center;
    padding-bottom: 10px;
}
.faqUp{
    width: 50px;
    height: 50px;
    background-color: var(--mirage);
    border-radius: 50%;
    cursor: pointer;
}
.faqUp li{
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 4px;
}
/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-top: 28px;
    font-size: 18px;
}
.pagination li:first-child{
    display: none;
}
.pagination li:last-child{
    display: none;
}
.active{
    font-weight: bold;
}
.disabled{
    font-weight: normal;
}

/* 검색창 */
.faqSearch{
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}


@media screen and (max-width : 1440px) {
    .faqSec{
        width: calc(100% - 30px);
        padding-bottom: 28px;
    }
}
@media screen and (max-width : 768px) {
    .fqes{
        padding: 0 5px;
    }
    .faqSec h6{
       font-size: 12px;
       padding-left: 5px;
    }
    .pagination {
        font-size: 16px;
      }
}