.faqSec{
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 65px;
}
.faqTopLine{
    display: block;
    border: 2px solid var(--font-black);
}
.faqWrap p{
    white-space: pre-wrap;
}
.fqes{
    border-bottom: 1px solid var(--line-silver);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.fqes p{
    line-height: 70px;
}
.fans{
    background-color: var(--back-silver);
    justify-content: space-between;
    align-items: center;
}
.fans p{
    padding: 20px;
    min-height: 85px;
}
.faqPage{
    padding-top: 28px;
}
.faqSearch{
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}
@media screen and (max-width : 1440px) {
    .faqSec{
        width: calc(100% - 30px);
        padding-bottom: 28px;
    }
}