.notiWrap{
	margin: 0 auto;
	max-width: 1920px;
	height: 100vh;
}

/* Left article css */

.notiLeft{
	width: 50%;
}
.tagWrap{
	margin-bottom: 15px;
}
.tagFont{
	font-size: 26px;
	font-weight: bold;
}
.notiOverText>p,.notiOverText>b {
	margin: 15px 0;
	font-size: 55px;
}

/* Right aside css */
.notiRight{
	width: 50%;	
}
.mainNotiName{
	margin: 0 0 15px 20px;
	align-items: center;
}

.mainNotiName>li{
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid var(--line-silver);
	line-height: 1;
	cursor: pointer;
}
.mainNotiName>li:last-child{
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

.notiList{
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	height: 126px;
}
.notiSide{
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 20px;
}
.notiSide>li{
	width: 70px;
	text-align: center;
}
.notiNumber{
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 5px;
}
.notiDate{
	font-size: 14px;
	font-weight: 400;
}
.NotiTitle{
	line-height: 126px;
	margin: 0 20px;
	font-size: 18px;
}

.moveSubNotiWrap{
	margin: 60px 0 0 0;
	justify-content: end;
}


/* 반응형 */
@media screen and (max-width : 1280px) {
	.notiWrap{
		flex-direction: column;
	}
	.notiLeft{
		width: 100%;
	}
	.notiRight{
		width: 100%;
	}
	.moveSubNotiWrap{
		justify-content: center;
	}
}

@media screen and (max-width : 1024px) {

}

@media screen and (max-width : 768px) {
	
}

@media screen and (max-width : 500px) {

}