.tabs {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
  }
  
  .tab {
	cursor: pointer;
	padding: 10px;
  }
  
  .board {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	height: 126px;
	display: flex;
	align-items: center;
  }
  
  .board-header {
	display: flex;
	width: 100%;
  }
  
  .board-info {
	width: 126px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .board-title {
	flex-grow: 1;
	text-align: left;
	padding-left: 20px;
  }
  