
.headWrap {
  background-color: #1E2F35;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 110px 120px;
  z-index: 10000;
}

.headWrap.visi {
  display: flex;
}

.headWrap.invi {
  display: none;
}

.headWrap>.headImg {
  width: calc(100% - 1000px);
  height: 100%;
  background-image: url(../../../assets/starnight.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.headWrap>.headImg p{
  color: #fff;
}

.headWrap>.headImg>div{
  width: 100%; height: 100%;
  display: flex;
  padding: 0 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headWrap>.headMenu {
  width: 1000px;
  height: 100%;
}

.headWrap>.headMenu>.headInner {
  width: 100%;
  height: 100%;
}

.headWrap>.headMenu>.headInner>.boxWrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "g1 g2 g3"
    "g4 g5 g6"
  ;
}

.headWrap>.headMenu>.headInner>.boxWrap>li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.menuBox {
  width: 100%;
  min-width: 250px;
  max-width: 390px;
  border: 1px solid #fff;
}

.headWrap>.headMenu>.headInner>.boxWrap>.menuBox ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headWrap>.headMenu>.headInner>.boxWrap>.menuBox li>a{
  font-size: 18px;
  color: #fff;
}

.headWrap>.headMenu>.headInner>.boxWrap>.lastBox {
  text-align: end;
  font-size: 8%;
  font-weight: 400;
  justify-content: flex-end;
}

.headWrap>.headMenu>.headInner>.boxWrap>.lastBox img{
  width: 175px;
  height: 175px;
}

.headWrap>.headMenu>.headInner>.boxWrap>.lastBox p{
  color: #fff;
}

.grid1 {

  grid-area: g1;
}

.grid2 {
  grid-area: g2;
}

.grid3 {
  grid-area: g3;
}

.grid4 {
  grid-area: g4;
}

.grid5 {
  grid-area: g5;
}

.grid6 {
  grid-area: g6;
}

.titText{
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}

@media screen and (max-width : 1280px) {
  .headWrap>.headImg{
    display: none;
  }
}

@media screen and (max-width : 768px) {
  .headWrap {
    padding: 0;
  }
  .headWrap>.headMenu {
    width: 100%;
  }
  .headWrap>.headMenu>.headInner>.boxWrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "g1 g2"
      "g3 g4"
      "g5 g6"
    ;}
}

@media screen and (max-width : 360px) {
  .headWrap {
    padding: 0;
  }
  .headWrap>.headMenu {
    width: 100%;
  }
  .headWrap>.headMenu>.headInner>.boxWrap {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "g1"
      "g2"
      "g3"
      "g4"
      "g5"
      "g6"
    ;}
    .headWrap>.headMenu>.headInner>.boxWrap>.menuBox{
      padding: 28px 0;
    }
}