.headWrap {
	background-color: var(--mirage);
	position: fixed;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 110px 120px;
	z-index: 999;
  } 
  
  .headWrap.visi {
	display: flex;
  }
  
  .headWrap.invi {
	display: none;
  }
  
  .headImg {
	width: calc(100% - 1000px);
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	overflow: hidden;
	position: relative;
  }
  
  .slider {
	width: 100%;
	height: 100%;
	position: relative;
  }
  
  .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 2s ease-in-out;
  }
  
  .slide:nth-child(1) {
	background-image: url('../../../assets/starnight.webp');
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .slide:nth-child(2) {
	background-image: url('../../../assets/moonlight.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
  }
  
  .slider .slide:nth-child(1) {
	animation: fade 10s infinite;
  }
  
  .slider .slide:nth-child(2) {
	animation: fade 10s infinite 5s;
  }
  
  .hiddenContents {
	display: none;
  }
  
  @keyframes fade {
	0%, 10%, 90%, 100% {
	  opacity: 0;
	}
	20%, 80% {
	  opacity: 1;
	}
  }
  
  .headImg p {
	color: #fff;
  }
  
  .headImg > div {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 0 28px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .headMenuNavPage {
	width: 1000px;
	height: 100%;
  }
  
  .headInner {
	width: 100%;
	height: 100%;
  }
  
  .boxWrap {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
	  "g1 g2 g3"
	  "g4 g5 g6";
  }
  
  .boxWrap > li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
  }
  
  .menuBox {
	width: 100%;
	min-width: 250px;
	max-width: 390px;
	border: 1px solid #fff;
  }
  
  .menuBox ul {
	display: flex;
	flex-direction: column;
	gap: 14px;
  }
  
  .menuBox li > a {
	font-size: 18px;
	color: #fff;
  }
  
  .lastBox {
	text-align: end;
	font-size: 8%;
	font-weight: 400;
	justify-content: flex-end;
  }
  
  .lastBox img {
	width: 175px;
	height: 175px;
  }
  
  .lastBox p {
	color: #fff;
  }
  
  .grid1 {
	grid-area: g1;
  }
  
  .grid2 {
	grid-area: g2;
  }
  
  .grid3 {
	grid-area: g3;
  }
  
  .grid4 {
	grid-area: g4;
  }
  
  .grid5 {
	grid-area: g5;
  }
  
  .grid6 {
	grid-area: g6;
  }
  
  .titText {
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 25px;
  }

  #allMenuBtn{
	cursor: pointer;
    position: fixed;
	top: 35px; right: 40px;
    z-index: 1000;
    right: 40px;
    width: 30px; height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

#allMenuBtn>#dotWrap{
    width: 10px; height: 10px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-360deg);
    animation: rollingIn .6s .6s ease-out forwards;
}

#allMenuBtn:hover>#dotWrap{
    animation: rollingOut .6s ease-out forwards;
}

#allMenuBtn>#dotWrap>#dot{
    width: 3px; height: 3px;
    background: #fff;
    position: absolute;
}

#allMenuBtn>#dotWrap>#dot:nth-child(1){
    left: 0; top: 0;
}

#allMenuBtn>#dotWrap>#dot:nth-child(2){
    right: 0; top: 0;
}

#allMenuBtn>#dotWrap>#dot:nth-child(3){
    left: 0; bottom: 0;
}

#allMenuBtn>#dotWrap>#dot:nth-child(4){
    right: 0; bottom: 0;
}


@media screen and (max-width : 1440px) {
	.menuBox li > a {
		font-size: 16px;
	  }
	.titText {
	font-size: 32px;
      }
  }
  
  @media screen and (max-width : 1280px) {
	.headImg {
	  display: none;
	}
	.hiddenContents {
	  display: block;
	}
  }

  @media screen and (max-width : 1024px) {
	.headWrap {
		padding: 65px 80px;
	  } 
	#allMenuBtn{
		width: 25px; height: 25px;
		top: 30px; right: 35px;
	}
	.menuBox li > a {
		font-size: 14px;
	  }
    .titText {
  	    font-size: 24px;
  	  }
  }
  
  @media screen and (max-width : 768px) {
	.headWrap {
	  padding: 0;
	}
	.headMenuNavPage {
	  width: 100%;
	}
	.boxWrap {
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(3, 1fr);
	  grid-template-areas:
		"g1 g2"
		"g3 g4"
		"g5 g6";
	}
	#allMenuBtn{
		right: 28px;
	}
  }

  @media screen and (max-width : 500px) {
	.menuBox {
		min-width: auto;
	  }
  }
  
  @media screen and (max-width : 360px) {
	.headWrap {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		z-index: 999;
	  }
	.headMenuNavPage {
	  width: 100%;
	}
	.boxWrap {
	  grid-template-columns: repeat(1, 1fr);
	  grid-template-rows: repeat(6, 1fr);
	  grid-template-areas:
		"g1"
		"g2"
		"g3"
		"g4"
		"g5"
		"g6";
	}
	.menuBox {
	  padding: 28px 0;
	}
	#allMenuBtn{
		right: 10px;
	}
  }
  